!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(style='text/javascript', src='/javascripts/jquery-1.6.2.min.js')
    script(style='text/javascript', src='/javascripts/jquery.validate.min.js')
    script(style='text/javascript', src='/javascripts/forms.js')
  body!= body